/* General setup */

@font-face {
    font-family: 'copperplate';
    src: url('fonts/copperplatecc-bold-webfont.woff2') format('woff2'),
         url('fonts/copperplatecc-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksand';
    src: url('fonts/fontquicksand-regular-webfont.woff2') format('woff2'),
         url('fonts/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
    font-family: 'copperplate','Times New Roman', Times, serif;
    font-size: 3.2rem;
}

h2 {
font-family: 'Bebas Neue','Times New Roman', Times, serif;
    letter-spacing: 1ch;
  font-size: 2.4rem;
  background: green;
  box-shadow:10px 5px 10px red;
}

p {
  font-family: 'quicksand','Times New Roman', Times, serif;
  max-inline-size: 66ch;
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
    }