body {
  margin: 0;
  padding: 0;
}
button {
  background-color: white;
  border: 1px solid gray;
  outline: none;
  cursor: pointer;
  min-width: 70px;
  max-width: 100px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
}

.hide {
  visibility: hidden;
}
ul {
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
li:hover {
  background-color: rgba(128, 128, 128, 0.363);
}
li {
  padding: 10px;
  list-style: none;
  /* border: 1px solid rgba(0, 0, 0, 0.4); */
  max-width: 80px;
  font-size: 1.2rem;
  /* margin-bottom: 10px; */
  cursor: pointer;
  min-height: 30px;
  border-radius: 7px;
}
